

  <div class="container">
    <div class="form-wrapper">
      <div class="first">
        <h1>Admission Form</h1>
      </div>
  
      <div class="form-container">
        <form [formGroup]="MarvellousForm">
          <div class="form-group">
            <label>Name*</label>
            <input
              [style.width.rem]="15"
              [class.is-invalid]="MarvellousForm.get('username')?.invalid && MarvellousForm.get('username')?.touched"
              type="text"
              class="form-control"
              formControlName="username"
            >
            <small
              [class.d-none]="MarvellousForm.get('username')?.valid || MarvellousForm.get('username')?.untouched"
              class="text-danger"
            >
              Name is required
            </small>
          </div>
  
          <div class="form-column">
            <div class="form-group">
              <label>Last Name*</label>
              <input
                [style.width.rem]="15"
                [class.is-invalid]="MarvellousForm.get('lastname')?.invalid && MarvellousForm.get('lastname')?.touched"
                type="text"
                class="form-control"
                formControlName="lastname"
              >
              <small
                [class.d-none]="MarvellousForm.get('lastname')?.valid || MarvellousForm.get('lastname')?.untouched"
                class="text-danger"
              >
                Last Name is required
              </small>
            </div>

           
                <div class="form-group">
                    <label>Email*</label>
                    <input [style.width.rem]="23" [class.is-invalid]="MarvellousForm.get('email')?.invalid && MarvellousForm.get('email')?.touched" type="text" class="form-control" formControlName="email">
                    <small [class.d-none]="MarvellousForm.get('email')?.valid || MarvellousForm.get('email')?.untouched" >Email address required</small>
                  </div>
        
  
            <div class="form-group">
              <label>Phone*</label>
              <input
                [style.width.rem]="23"
                [class.is-invalid]="MarvellousForm.get('phone')?.invalid && MarvellousForm.get('phone')?.touched"
                type="text"
                class="form-control"
                formControlName="phone"
              >
              <small
                [class.d-none]="MarvellousForm.get('phone')?.valid || MarvellousForm.get('phone')?.untouched"
                class="text-danger"
              >
                Phone no. is required
              </small>
            </div>
  
            <div class="form-group">
              <label>City*</label>
              <input
                [style.width.rem]="23"
                [class.is-invalid]="MarvellousForm.get('city')?.invalid && MarvellousForm.get('city')?.touched"
                type="text"
                class="form-control"
                formControlName="city"
              >
              <small
                [class.d-none]="MarvellousForm.get('city')?.valid || MarvellousForm.get('city')?.untouched"
                class="text-danger"
              >
                City is required
              </small>
            </div>
  
            <div class="form-group">
              <label>Zip Code*</label>
              <input
                [style.width.rem]="23"
                [class.is-invalid]="MarvellousForm.get('zipcode')?.invalid && MarvellousForm.get('zipcode')?.touched"
                type="text"
                class="form-control"
                formControlName="zipcode"
              >
              <small
                [class.d-none]="MarvellousForm.get('zipcode')?.valid || MarvellousForm.get('zipcode')?.untouched"
                class="text-danger"
              >
                Zip code is required
              </small>
            </div>
          </div>
  
        <button type="submit" class="btn btn-primary">SUBMIT FORM</button>
        </form>
      </div>
    </div>
  </div>